In [2]:
import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [3]:
def _list(pages=10):
    return pd.read_json(f'http://project-finance-backend.onrender.com/financial-list?pages={pages}')

_list()

    Country     Ticker               Name               Slug
0       USA       AAPL              Apple              apple
1       USA       MSFT          Microsoft          microsoft
2       USA       NVDA             NVIDIA             nvidia
3       USA       AMZN             Amazon             amazon
4       USA       GOOG  Alphabet (Google)    alphabet-google
..      ...        ...                ...                ...
995   China  601229.SS   Bank of Shanghai   bank-of-shanghai
996   Japan     2502.T        Asahi Group        asahi-group
997     USA         LH            LabCorp            labcorp
998   Japan     6594.T              Nidec              nidec
999     USA          L  Loews Corporation  loews-corporation

[1000 rows x 4 columns]

In [4]:
def raw(slug='microsoft'):
    return pd.read_json(f'http://project-finance-backend.onrender.com/financial-raw/{slug}')

raw()

    Year   Shares  Capital  DYield   Revenue    Income     Asset    Equity
0   2025   7430.0  2815000    0.81  261800.0  113610.0  512160.0  268470.0
1   2024   7430.0  3200000    0.73  227580.0  101210.0  411970.0  206220.0
2   2023   7450.0  2794000    0.74  204090.0   82580.0  364840.0  166540.0
3   2022   7500.0  1787000    1.06  184900.0   79680.0  333770.0  141980.0
4   2021   7550.0  2522000    0.68  153280.0   60720.0  301310.0  118300.0
5   2020   7620.0  1681000    0.94  134240.0   49850.0  286550.0  102330.0
6   2019   7690.0  1200000    1.20  118450.0   39920.0  258840.0   82710.0
7   2018   7710.0   780360    1.69   99980.0   29790.0  250310.0   87710.0
8   2017   7750.0   659900    1.86   88890.0   23230.0  193460.0   71990.0
9   2016   7960.0   483160    2.37   88080.0   16120.0  174470.0   80080.0
10  2015   8220.0   439670    2.33   93450.0   27280.0  172380.0   89780.0
11  2014   8320.0   381720    2.48   83430.0   28030.0  142430.0   78940.0
12  2013   8390.0   310500    2.59   72930.0   20020.0  121270.0   66360.0
13  2012   8400.0   223660    3.11   72050.0   27880.0  108700.0   57080.0
14  2011   8490.0   218380    2.62   66690.0   27090.0   86110.0   46170.0
15  2010   8850.0   234520    1.97   58680.0   21840.0   77880.0   39550.0
16  2009   8900.0   268550    1.71   61980.0   22400.0   72790.0   36280.0
17  2008   9360.0   172920    2.37   57890.0   24290.0   63170.0   31090.0
18  2007   9800.0   332110    1.15   46050.0   17410.0   69590.0   40100.0
19  2006  10560.0   291940    1.24   41350.0   17370.0   70810.0   48110.0
20  2005  10870.0   271540    1.22   38470.0   14920.0   94360.0   74820.0
21  2004  10810.0   290710   11.83   34260.0   12270.0   81730.0   64910.0
22  2003      NaN   295290    0.88   30780.0   11910.0   67640.0   52180.0
23  2002      NaN   276630    0.00   26720.0    9000.0   58830.0   47280.0
24  2001      NaN   358050    0.00   23770.0   15030.0       NaN       NaN
25  2000      NaN   230800    0.00   22610.0   13340.0       NaN       NaN
26  1999      NaN   604410    0.00   17150.0    9690.0       NaN       NaN
27  1998      NaN   348100    0.00   13090.0    6200.0       NaN       NaN
28  1997      NaN   157360    0.00    9430.0    3800.0       NaN       NaN
29  1996      NaN    99410    0.00       NaN       NaN       NaN       NaN

In [ ]:
def ratios(slug='microsoft'):
    res     = pd.read_json(f'http://project-finance-backend.onrender.com/financial-ratios/{slug}')
    Raw     = pd.DataFrame([dict(x) for x in res['Raw']])
    Ratios  = pd.DataFrame([dict(x) for x in res['Ratios']])
    return Raw, Ratios

Raw, Ratios = ratios()
Ratios

,N,Year,Cap Var,Rev Grw,Ast Grw,DY,EY,P/S,P/A,Margin,ROA,E/A
0,0,2025,-12.03,15.04,24.32,0.81,4.04,10.75,5.50,43.4,22.2,52.4
1,-1,2024,14.53,11.51,12.92,0.73,3.16,14.06,7.77,44.5,24.6,50.1
2,-2,2023,56.35,10.38,9.31,0.74,2.96,13.69,7.66,40.5,22.6,45.6
3,-3,2022,-29.14,20.63,10.77,1.06,4.46,9.66,5.35,43.1,23.9,42.5
4,-4,2021,50.03,14.18,5.15,0.68,2.41,16.45,8.37,39.6,20.2,39.3
5,-5,2020,40.08,13.33,10.71,0.94,2.97,12.52,5.87,37.1,17.4,35.7
6,-6,2019,53.78,18.47,3.41,1.20,3.33,10.13,4.64,33.7,15.4,32.0
7,-7,2018,18.25,12.48,29.39,1.69,3.82,7.81,3.12,29.8,11.9,35.0
8,-8,2017,36.58,0.92,10.88,1.86,3.52,7.42,3.41,26.1,12.0,37.2
9,-9,2016,9.89,-5.75,1.21,2.37,3.34,5.49,2.77,18.3,9.2,45.9
10,-10,2015,15.18,12.01,21.03,2.33,6.20,4.70,2.55,29.2,15.8,52.1
11,-11,2014,22.94,14.40,17.45,2.48,7.34,4.58,2.68,33.6,19.7,55.4
12,-12,2013,38.83,1.22,11.56,2.59,6.45,4.26,2.56,27.5,16.5,54.7
13,-13,2012,2.42,8.04,26.23,3.11,12.47,3.10,2.06,38.7,25.6,52.5
14,-14,2011,-6.88,13.65,10.57,2.62,12.40,3.27,2.54,40.6,31.5,53.6
15,-15,2010,-12.67,-5.32,6.99,1.97,9.31,4.00,3.01,37.2,28.0,50.8
16,-16,2009,55.30,7.07,15.23,1.71,8.34,4.33,3.69,36.1,30.8,49.8
17,-17,2008,-47.93,25.71,-9.23,2.37,14.05,2.99,2.74,42.0,38.5,49.2
18,-18,2007,13.76,11.37,-1.72,1.15,5.24,7.21,4.77,37.8,25.0,57.6
19,-19,2006,7.51,7.49,-24.96,1.24,5.95,7.06,4.12,42.0,24.5,67.9
20,-20,2005,-6.59,12.29,15.45,1.22,5.49,7.06,2.88,38.8,15.8,79.3
21,-21,2004,-1.55,11.31,20.83,11.83,4.22,8.49,3.56,35.8,15.0,79.4
22,-22,2003,6.75,15.19,14.98,0.88,4.03,9.59,4.37,38.7,17.6,77.1
23,-23,2002,-22.74,12.41,0.00,0.00,3.25,10.35,4.70,33.7,15.3,80.4
24,-24,2001,55.13,5.13,0.00,0.00,4.20,15.06,NaN,63.2,NaN,NaN
25,-25,2000,-61.81,31.84,0.00,0.00,5.78,10.21,NaN,59.0,NaN,NaN
26,-26,1999,73.63,31.02,0.00,0.00,1.60,35.24,NaN,56.5,NaN,NaN
27,-27,1998,121.21,38.81,0.00,0.00,1.78,26.59,NaN,47.4,NaN,NaN
28,-28,1997,58.29,0.00,0.00,0.00,2.41,16.69,NaN,40.3,NaN,NaN
29,-29,1996,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN